<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.m3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.m3.MainActivity"
            android:label="@string/app_name"
            android:permission="android.permission.INTERNET" >
        </activity>
        <activity
            android:name="com.example.m3.WelcomeScreenActivity"
            android:label="Welcome Screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.m3.SuccessScreenActivity"
            android:label="Success Screen" >
        </activity>
        <activity
            android:name="com.example.m3.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:permission="android.permission.INTERNET" >
        </activity>
        <activity
            android:name="com.example.m3.AccountsOverviewActivity"
            android:label="@string/accounts_overview_title"
            android:permission="android.permission.INTERNET" >
        </activity>
        <activity
            android:name="com.example.m3.AccountCreationActivity"
            android:label="@string/title_activity_account_creation" >
        </activity>
        <activity
            android:name="com.example.m3.TransPageActivity"
            android:label="@string/title_activity_trans_page" >
        </activity>
        <activity
            android:name="com.example.m3.DepositActivity"
            android:label="@string/title_activity_deposit" >
        </activity>
        <activity
            android:name="com.example.m3.WithdrawalActivity"
            android:label="@string/title_activity_withdrawal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.m3.ReportDateSelectActivity"
            android:label="@string/title_activity_report_date_select" >
        </activity>
        <activity
            android:name="com.example.m3.SpendingReportActivity"
            android:label="@string/title_activity_spending_report" >
        </activity>
        <activity
            android:name="com.example.m3.SplashActivity"
            android:label="@string/title_activity_splash" >
        </activity>
    </application>

</manifest>
